@{
    ViewBag.Title = "Znajdziesz nas tutaj";
}
<h2>@ViewBag.Title</h2>

<address>
    <h4>
        KN Humanoid - Pokój 347B<br />
        Politechnika Warszawska, Wydział Mechatroniki<br />
        ul. św. Andrzeja Boboli 8, 02-525 Warszawa <br />
    </h4>
</address>

<address>
    <strong>Kontakt:</strong>   <a href="mailto:kn.humanoid@pw.edu.pl">kn.humanoid@pw.edu.pl</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/Koło-Naukowe-Humanoid-1008569282534135/">https://www.facebook.com/Koło-Naukowe-Humanoid-1008569282534135/</a>
</address>